{% extends 'BackBundle:Default:index.html.twig' %}
{% block content %}
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-lg-3">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>TOTAL VISIT</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <span id="sparklinedash">0, 5, 6, 10, 9, 12, 4, 9</span>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
            <div class="col-lg-3">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>TOTAL PAGE VIEWS</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <span id="sparklinedash2">0, 5, 6, 10, 9, 12, 4, 9</span>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
            <div class="col-lg-3">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>UNIQUE VISITOR</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <span id="sparklinedash3">0, 5, 6, 10, 9, 12, 4, 9</span>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
            <div class="col-lg-3">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>BOUNCE RATE</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <span id="sparklinedash4"> 0, 5, 6, 10, 9, 12, 4, 9</span>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        </div>
        <!-- /# row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>SITE TRAFFIC</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <div id="sparkline8"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
            <div class="col-lg-4">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>SITE TRAFFIC</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <div id="sparkline9"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
            <div class="col-lg-4">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>SITE TRAFFIC</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <div id="sparkline10"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        </div>
        <!-- /# row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>Bar Chart</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <div id="sparkline12" class="text-center"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
            <div class="col-lg-6">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>Composite Bar Chart</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <div id="sparkline13" class="text-center"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        </div>
        <!-- /# row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>PIE CHART</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <div id="sparkline11" class="text-center"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->


            <div class="col-lg-6">
                <div class="card nestable-cart sperkline_fourteen_bg">
                    <div class="card-title">
                        <h4>LINE CHART</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <div id="sparkline14" class="text-center"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->


        </div>
        <!-- /# row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>LINE CHART</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <div id="sparkline16" class="text-center"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->




            <div class="col-lg-6">
                <div class="card nestable-cart">
                    <div class="card-title">
                        <h4>BAR WITH DIFFERENT COLOR CHART</h4>
                        <div class="card-title-right-icon">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="sparkline-unix">
                        <div id="sparkline15" class="text-center"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->

        </div>
        <!-- /# row -->
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
    <!-- footer -->

    <!-- End Wrapper -->


    <script src="{{ asset('back/js/lib/sparklinechart/jquery.sparkline.min.js') }}"></script>
    <!-- sparkline init-->
    <script src="{{ asset('back/js/lib/sparklinechart/sparkline.init.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ asset('back/js/custom.min.js') }}"></script>
{% endblock %}