{% extends "::base.html.twig" %}

{% block title %}UserBundle:LigneCommandes:ajouterLigneCommande{% endblock %}

{% block body %}
<h1>Welcome to the LigneCommandes:ajouterLigneCommande page</h1>
{% endblock %}
