


    <div>

            <h1>Inscription</h1> <h2 > <br> </h2>
            <br>
        <p>Cher utilisateur {{ app.user.username() }}</p><br>
        <a>l'inscription de votre enfant dans notre garderie a ete bien effectuer et pour la confirmer veuillez nous visiter le plutot possible </a>
    </div>
    <br>
    <div>
</div>
